body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    background-color: #d8d8d8;
}

th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
    word-wrap: break-word;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    width: 350px;
}


/* Aumentar ancho de la columna "Categoría" */
td:nth-child(1) {
    width: 250px; /* Ajusta este valor para hacer la columna más ancha */
    height: 40px;
    text-align: left;
    background-color: #f4f4f4;
}

/* Colores específicos */
.ene {
    background-color: #ffffd3; /* Fondo amarillo */
}
 .feb{
    background-color: #ffeac2; /* Fondo naranja */
}

.mar{
    background-color: #7eeec9; /* Fondo azul claro */
}

.abr{
    background-color: #daecff; /* Fondo azul claro */
}

 .may{
    background-color: #ffe2fb; /* Fondo azul claro */
}

 .jun {
    background-color: #ffe8be; /* Fondo azul claro */
}
.jul {
    background-color: #d7fff2; /* Fondo azul claro */
}
.ago {
    background-color: #a4d0ff; /* Fondo azul claro */
}
.sep {
    background-color: #ece0ff; /* Fondo azul claro */
}
 .oct {
    background-color: #faf5aa; /* Fondo azul claro */
}
.nov {
    background-color: #fad46c; /* Fondo amarillo */
}

 .dic {
    background-color: #b7f88b; /* Fondo naranja */
}
.inv {
    background-color: #85e079; /* Fondo naranja */
}
.mark {
    background-color: #62a05a; /* Fondo naranja */
}
.alq {
    background-color: #ffd0de; /* Fondo naranja */
}
.ute {
    background-color: #fda3be; /* Fondo naranja */
}
.ose {
    background-color: #e96d92; /* Fondo naranja */
}
.sue {
    background-color: #e96d6d; /* Fondo naranja */
}
.agui {
    background-color: #912525; /* Fondo naranja */
}
.aum {
    background-color: #a83c3c; /* Fondo naranja */
}
/* Estilo para las filas con fondo gris */
.grey-back {
    background-color: #e9e9e9; /* Color gris claro */
}

/* Si quieres aplicar solo a celdas dentro de esa fila */
.grey-back td {
    background-color: #f4f4f4; /* Color gris claro */
}